<% if(success_msg != ''){ %>
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
          <span aria-hidden="true">&times;</span>
        </button> -->
        <p> <%= success_msg %> </p>
    </div>
    <% } %> 
    <% if(error_msg != ''){ %>
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button> -->
            <p> <%= error_msg %> </p>
          </div>
        <% } %>
        <% if(error != ''){ %>
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close"> 
                  <span aria-hidden="true">&times;</span>
                </button> -->
                <p> <%= error %> </p>
            </div>
            <% } %>