<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <meta name="description" content ="Bookmark Feature.">
  <head>
    <style>

    .container {
      display:flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      align-items:flex-end;
      font-size: 30px;
    }

    body{
      background-image: url('Background_image.png');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }

    .dropdown {
      background-color: #df7e10;
      text-align: center;
      font-family: Arial;
      align-items:center;
    }

    .bookmark {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(460px, 1fr));
        grid-gap: 2rem;
    }

    .bookmark__card {
        text-decoration: none;
        color: #000;
        background-color: #fff;
        padding: 20px;
    }

    .bookmark__card:hover {
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
    }

    </style>
  </head>
  <body>

    <!-- E.C: 04-27-2021 - Added small logout/login -->
    <!-- Move to it's own file? -->
    <div style="text-align:right">
      <a href="/users/logout" class="btn btn-secondary">Log-out/Log-in</a>
    </div>
    
    <div style="text-align:center">

    <div class="container">
      <a .tab button style="color:darkgoldenrod;" href="/">Home</a>
      <div>
        <a .tab button style="color:darkgoldenrod;" href="books">
          <img src="Books.png" alt="Books" width="80" height="80">
          <br>
          Books
        </a>
      </div>
      <div>
        <a .tab button style="color:darkgoldenrod;" href="movies">
          <img src="movie.png" alt="Movies" width="100">
          <br>Movies
        </a>
      </div>
      <div>
        <a .tab button style="color:darkgoldenrod;" href="music">
          <img src="music.png" alt="Music" width="60">
          <br>Music
        </a>
      </div>

      <a .tab button style="color:darkgoldenrod;" href="help">Help</a>
    </div>

    <!-- E.C: 04-27-2021 - Attempted to get user's name to display if logged in
    with a message -->
    <!-- E.C: 05-01-2021 - Only registered users will view their bookmarked results 
    and non-registered/not logged in users will be asked to register/login to
    view bookmarked results -->
    <center>
        <% try { %>
          <% if(user)%>
            <p class="lead mb-3">Welcome <%= user.name %>, here are your saved bookmarks!</p>
            <!--JP: 2021-05-05 Trying to output user's bookmarks-->
            <h2>Bookmarks</h2>
            <div class="bookmark">
                  <% for(var i = 0; i < bookmarkList.length; i++) { %>
                    <a class="bookmark__card" target="_blank" href="<%= bookmarkList[i].url %>">
                      <p size="60px" style="font-family:Sans-serif">
                        <b><%= bookmarkList[i].title %></b><br/>

                        <form action="/bookmarks/<%=bookmarkList[i]._id%>/?_method=DELETE" method="POST">
                          <button onclick="return confirm('Are you sure you want to delete this bookmark?');">Delete</button>                        
                      </form>
                      </p>
                    </a>
                  <% } %>
            </div>
        <% } catch (error) { %>
          <p class="lead mb-3">Please login/register to bookmark your search results.</p>
        <% } %>
    </center>
  </body>
</html>