<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <meta name="description" content ="This page helps you with problems with the website.">
  <head>
    <title>Help Page</title>
    <link rel="shortcut icon" type = "image/png" href="jamImage.png">
    <style>
    .container {
      display:flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      align-items:flex-end;
      font-size: 30px;
    }

    body{
      background-image: url('Background_image.png');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }
    .dropdown {
      background-color: #df7e10;
      text-align: center;
      font-family: Arial;
      align-items:center;
    } 
    .accordion {
    background-color: darkgoldenrod;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: solid;
    outline: none;
    transition: 0.4s;
    }
    .panel {
    padding: 0 18px;
    display: none;
    background-color: orange;
    overflow: hidden;
    }

    </style>
  </head>

  <body>
    <center>
      <h1 style="font-size:5vw;">
        <i>
          <p style="color: darkgoldenrod;">
          <b>Help Page</b>
        </i>
        </p>
      </h1>
    </center>
    <div style="text-align:center">

    <div class="container">
      <a .tab button style="color:darkgoldenrod;" href="/">Home</a>
      <div>
        <a .tab button style="color:darkgoldenrod;" href="books">
          <img src="Books.png" alt="Books" width="80" height="80">
          <br>
          Books
        </a>
      </div>
      <div>
        <a .tab button style="color:darkgoldenrod;" href="movies">
          <a .tab button style="color:darkgoldenrod;" href="movies">
            <img src="movie.png" alt="Movies" width="100">
            <br>Movies
          </a>
        </div>
        <div>
          <a .tab button style="color:darkgoldenrod;" href="music">
            <img src="music.png" alt="Music" width="60">
          <br>
          Music
        </a>
      </div>
      <a .tab button style="color:darkgoldenrod;" href="help">Help</a>
      
    </div>

      <br>
      <button class="accordion">How To Create An Account</button>
      <div class="panel">
        <p>To create an account click in the "Sign-Up/Login" button and fill in the information required to
          get you started. First enter your name, add an existing email, and create
          a password that you will remember when wanting to login. 
        </p>
      </div>

      <button class="accordion">How To Search For Something In Particular?</button>
      <div class="panel">
        <p>If you are looking for a book, then go to the "Book" tab and once redirected to the page there will be a
          search filter. On the right side there should be a dropdown that allows you to search something in particular.
          For the book page, you can select "ebooks", "free-ebooks", "full", "paid-ebooks", and "partial". Once you have 
          selected one of the options, type in your search and press search to get your results. After you are redirected
          to the results page, you are given the option to click on those results and be redirected to a different website.
          This can be done with the "Movie" and "Music" tab as well.
        </p>
      </div>
      
      <button class="accordion">How to Bookmark</button>
      <div class="panel">
        <p>To bookmark something you have to create an account or login if you have an account. Once you
          create an account and login you can start searching for books, movies, or music. Once you have searched for 
          something in particular you can click on the "Bookmark" button to save your searched result.
        </p>
      </div>
      
      <button class="accordion">How to Remove a Bookmark</button>
      <div class="panel">
        <p>To remove an unwanted bookmark, you have to be logged in and go to the Bookmark tab. Once in the Bookmark page,
          there is a "Delete" button. Click on it for the desired saved bookmark to be removed.
        </p>
      </div>

      <button class="accordion">Why Is There No Audio Preview For Some Track Results</button>
      <div class="panel">
        <p>Since we are using Spotify API, what is displayed is based on what is available through that API. 
          If there is no audio preview, that is out of our control.
        </p>
      </div>

      <button class="accordion">Why Is There No Detailed Information on Movie Results</button>
      <div class="panel">
        <p>Since we are using the OMDb API, it offers only the movie poster, title, and release date. Therefore,
          there is no more information given. If you would simply like to know more about the movie, click
          on the results to redirect you to the IMDb page.
        </p>
      </div>

      <script>
        var acc = document.getElementsByClassName("accordion");
        var i;
        
        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
              panel.style.display = "none";
            } else {
              panel.style.display = "block";
            }
          });
        }
        </script>
  </body>
</html>