<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale=1.0>
    <meta name="description" content ="This page is to find movies.">
  </head>
  <style>
    .container {
      display:flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      align-items:flex-end;
    }

    body{
      background-image: url('movie_background.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }

    .dropdown {
      background-color: #df7e10;
      text-align: center;
      font-family: Arial;
      align-items:center;
    }
    </style>
  <body>
    <div style="text-align:center">
    <div class="container">
      <a .tab button style="color:darkblue;" href="/">Home</a>
      <div>
        <a .tab button style="color:darkblue;" href="books">
          <img src="Books.png" alt="Books" width="80" height="80">
          <br>
          Books
        </a>
      </div>
      <div>
        <a .tab button style="color:darkblue;" href="movies">
          <img src="Movie.png" alt="Movies" width="80">
          <br>Movies
        </a>
      </div>
      <div>
        <a .tab button style="color:darkblue;" href="music">
          <img src="MusicLogo.png" alt="Music" width="80">
          <br>Music
        </a>
      </div>
      <a .tab button style="color:darkblue;" href="help">Help</a>
    </div>

    <center>
      <br>

    <br></br>
  </center>
  <div class="wrapper">
    <a href="movies">&larr;- Back</a>
    <div class="movies">
      <% for(var i = 0; i < movies.length; i++){ %>
        <a class="movies__card">
          <img src="<%= movies[i].Poster %>" alt="<%= movies[i].Title %>">
          <h2><%= movies[i].Title %></h2>
          <h2><%= movies[i].Year %></h2>
        </a>
        <% } %>
    </div>
  </div>
</body>
</html>
