<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content ="This page is to find movies.">
  <head>
    <link rel="shortcut icon" type = "image/png" href="movie.png">
    <style>

    .container {
      display:flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      align-items:flex-end;
      font-size: 30px;
    }

    body{
      background-image: url('movie_background.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }

    .dropdown {
      background-color: none;
      text-align: center;
      font-family: Arial;
      align-items:center;
    } 
    .wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      align-items: baseline;
      margin-top: 15%;
      margin-left: auto;
      margin-right: auto;
      background: darkgoldenrod;
      max-width: 900px;
      width: 100%;
      padding: 10px;
      border-radius: 20px;
    }
    .wrapper .input {
      width: 100%;
      padding: 15px 20px;
      border: none;
      border-radius: 5px;
      font-weight: bold;
      background: whitesmoke;
      font-family: Georgia;

      
    }
    .searchbtn {
      background: orange;
      width: 10%;
      border-radius: 5px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      cursor: solid;
      
    }
    .searchbtn .fas{
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      font-size: 35px;
    }
    </style>
  </head>
  <body>

    <div style="text-align:center">

    <div class="container">
      <a .tab button style="color:darkblue;" href="/">Home</a>
      <div>
        <a .tab button style="color:darkblue;" href="books">
          <img src="Books.png" alt="Books" width="80" height="80">
          <br>
          Books
        </a>
      </div>
      <div>
        <a .tab button style="color:darkblue;" href="movies">
          <img src="movie.png" alt="Movies" width="100">
          <br>Movies
        </a>
      </div>
      <div>
        <a .tab button style="color:darkblue;" href="music">
          <img src="music.png" alt="Music" width="60">
          <br>Music
        </a>
      </div>
      <a .tab button style="color:darkblue;" href="help">Help</a>
    </div>

    <center>
      <!--Search bar filter-->
      <br>

      <form action="/results" method="GET">
      <div class="dropdown">
        <div class="dropdown-content">
          <div class="wrapper">
            <input name="search" type="text" class="input" placeholder="Search For Your Favorite Movies" autocomplete="off">
          <select name="filter">
            <option>movie</option>
            <option>series</option>
            <option>episode</option>
          </select>
          <div class="searchbtn">
            <input type="submit" value="Search">
          </div>
          </div>
        </div>
      </div>
      </form>
      </div>
    <br></br>
    </center>
  </body>
</html>
