<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content ="This page is to find music.">
  <head>
    <link rel="shortcut icon" type = "image/png" href="MusicLogo.png">
    <style>

    .container {
      display:flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      align-items:flex-end;
      font-size: 30px;
    }

    body{
      background-image: url('music_background.jpeg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }

    .dropdown {
      background-color: #df7e10;
      text-align: center;
      font-family: Arial;
      align-items:center;
    } 
    </style>
  </head>
  <body>

    <div style="text-align:center">

    <div class="container">
      <a .tab button style="color:black;" href="/">Home</a>
      <div>
        <a .tab button style="color:black;" href="books">
          <img src="Books.png" alt="Books" width="80" height="80">
          <br>
          Books
        </a>
      </div>
      <div>
        <a .tab button style="color:black;" href="movies">
          <img src="Movie.png" alt="Movies" width="80">
          <br>Movies
        </a>
      </div>
      <div>
        <a .tab button style="color:black;" href="music">
          <img src="MusicLogo.png" alt="Music" width="80">
          <br>Music
        </a>
      </div>

      <a .tab button style="color:black;" href="help">Help</a>
    </div>

    <center>
      <br>
  
      <form name="form1" onSubmit="actionOnSubmit()" method="GET">
      <div class="dropdown">
        <div id="Dropdown" class="dropdown-content">
          <input name="search" type="text" placeholder="Search For Your Favorite Books" size="100" autocomplete="off">
            <input type="submit"value ="Search">
          <select name="filter" id="filter">
            <option value="/artists">Artist</option>
            <option value="/albums">Album</option>
            <option value="/tracks">Track</option>
          </select>
        </div>
      </div>
      </form>
    <br></br>
  </center>
</body>
<script type="application/javascript">
  function actionOnSubmit() {
    var e = document.getElementById("filter");
    var formAction = e.options[e.selectedIndex].value;
    document.form1.action = formAction;
  }
</script>
</html>
